.glovopage{
    overflow: hidden;
}
.headerdiv{
    background-color: rgb(255, 192, 66);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.header{
    display: flex;
    align-items: center;
    padding: 10px 60px;
    justify-content: space-between;
}
.glovo{
    color: rgb(1, 121, 99);
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding-top: 10px;
}
.glovo img{
    position: absolute;
    z-index: 1;
    left: 110px;
}
.button{
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(1, 121, 99);
    border: 1px solid rgb(1, 121, 99);
}
.homepage{
    background-color: rgb(255, 192, 66);
    overflow: hidden;
    min-height: 125vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    position: relative;
}
.food-div{
   margin-right: 100px;
   margin-top: 50px;
   margin-bottom: 30px;
}
.videodiv{
    margin-left: 30px;
    margin-bottom: 30px;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
}
.address{
    width: 530px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    padding: 0 10px;
}
.usebutton{
    width: 210px;
    background-color: rgb(224, 240, 237);
    border: none;
    cursor: pointer;
    color: rgb(1, 121, 99);
    font-weight: bolder;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
#circle{
    border-radius: 150px;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-45px);
    font-size: 42px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.pizza{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
}
.four{
    transform: translateX(-145px);
}
.mcdonalds{
    transform: translateX(145px);
}
.kfc{
    transform: translateX(45px);
}.king{
    transform: translateX(-45px);
}
.hut{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bell{
    transform: translateX(-145px);
}
.hot{
    transform: translateX(145px);
}
.papa{
    transform: translateX(45px);
}.sub{
    transform: translateX(-45px);
}
.mcbutton{
    z-index: 1;
    position: absolute;
    left: 250px;
    top: 120px;
    font-size: 16px;
    font-weight: bolder;
    padding: 3px 7px;
    border-radius: 5px;
    border: none;
    color: rgb(137, 97, 16);
    background-color: rgb(249, 239, 220);
    font-family: Arial, Helvetica, sans-serif;
} 
.kfcbutton{
    left: 500px;
    padding: 4px 7px;
} 
.kingbutton{
    left: 695px;
    top: 118px;
}
.fourbutton{
    left: 920px;
}
